<div class="tasks">
  <div class="tasks--new">
    <h2>New Task</h2>
    <mat-card class="mx-3">
      <form [formGroup]="todoForm" class="m-3">
        <mat-form-field appearance="outline">
          <mat-label>Task Name</mat-label>
          <input formControlName="task" matInput>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Users</mat-label>
          <mat-select [formControl]="userList" multiple>
            <mat-option *ngFor="let user of users" [value]="user">
              {{ user.firstName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Due Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Task Description</mat-label>
          <textarea matInput placeholder="" formControlName="description"></textarea>
        </mat-form-field>
        <button *ngIf="!isEditEnabled" (click)="addTask()" mat-raised-button [disabled]="todoForm.invalid"
          color="primary">Add</button>
        <button *ngIf="isEditEnabled" (click)="updateTask()" mat-raised-button [disabled]="todoForm.invalid"
          color="primary">Update</button>
      </form>
    </mat-card>
  </div>
  <div cdkDropListGroup class="tasks--board">
    <div class="tasks--board-category">
      <h2>To do <span *ngIf="tasks.length > 0"> - {{ tasks.length }}</span></h2>
      <div cdkDropList [cdkDropListData]="tasks" class="tasks--board-category-list to-do"
        (cdkDropListDropped)="drop($event, 'tasks')">
        <div class="tasks--board-category-list-task to-do-task" *ngFor="let task of tasks;" cdkDrag>
          <div class="tasks--board-category-list-task-title" style="background-color: #026ADD;" style="background-color: #026ADD;">
            {{ task.title }}
          </div>
          <div class="tasks--board-category-list-task-details">
            <div class="tasks--board-category-list-task-users">
              <p style="font-weight: 500;">Users:</p>
              <ul *ngIf="task.id && taskUserMap[task.id]" style="padding:0;">
                <li *ngFor="let user of taskUserMap[task.id]">
                  {{ user.firstName }}
                </li>
              </ul>
            </div>
            <div class="tasks--board-category-list-task-date">
              <p style="font-weight: 500;">Assign Date:</p>
              <p>{{task.assignedDate | date }}</p>
              <p style="font-weight: 500;">Due Date:</p>
              <p>{{task.dueDate | date }}</p>
            </div>
          </div>
          <div class="tasks--board-category-list-task-description">{{ task.description }}</div>
          <div class="tasks--board-category-list-task-edit">
            <button mat-icon-button color="warn" (click)="deleteTask(task)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="primary" (click)="editTask(task)"><mat-icon>edit</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
    <div class="tasks--board-category">
      <h2>In Progress <span *ngIf="inProgress.length > 0"> - {{ inProgress.length }}</span></h2>
      <div cdkDropList [cdkDropListData]="inProgress" class="tasks--board-category-list in-progress"
        (cdkDropListDropped)="drop($event, 'inProgress')">
        <div class="tasks--board-category-list-task in-progress-task" *ngFor="let task of inProgress;" cdkDrag>
          <div class="tasks--board-category-list-task-title" style="background-color: #DE3232;">
            {{ task.title }}
          </div>
          <div class="tasks--board-category-list-task-details">
            <div class="tasks--board-category-list-task-users">
              <p style="font-weight: 500;">Users:</p>
              <ul *ngIf="task.id && taskUserMap[task.id]" style="padding:0;">
                <li *ngFor="let user of taskUserMap[task.id]">
                  {{ user.firstName }}
                </li>
              </ul>
            </div>
            <div class="tasks--board-category-list-task-date">
              <p style="font-weight: 500;">Assign Date:</p>
              <p>{{task.assignedDate | date }}</p>
              <p style="font-weight: 500;">Due Date:</p>
              <p>{{task.dueDate | date }}</p>
            </div>
          </div>
          <div class="tasks--board-category-list-task-description">{{ task.description }}</div>
          <div class="tasks--board-category-list-task-edit">
            <button mat-icon-button color="warn" (click)="deleteTaskInProgress(task)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="primary" (click)="editTask(task)"><mat-icon>edit</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
    <div class="tasks--board-category">
      <h2>Done <span *ngIf="done.length > 0"> - {{ done.length }}</span></h2>
      <div cdkDropList [cdkDropListData]="done" class="tasks--board-category-list done"
        (cdkDropListDropped)="drop($event, 'done')">
        <div class="tasks--board-category-list-task done-task" *ngFor="let task of done;" cdkDrag>
          <div class="tasks--board-category-list-task-title"  style="background-color: #00A560;">
            {{ task.title }}
          </div>
          <div class="tasks--board-category-list-task-details">
            <div class="tasks--board-category-list-task-users">
              <p style="font-weight: 500;">Users:</p>
              <ul *ngIf="task.id && taskUserMap[task.id]" style="padding:0;">
                <li *ngFor="let user of taskUserMap[task.id]">
                  {{ user.firstName }}
                </li>
              </ul>
            </div>
            <div class="tasks--board-category-list-task-date">
              <p style="font-weight: 500;">Assign Date:</p>
              <p>{{task.assignedDate | date }}</p>
              <p style="font-weight: 500;">Due Date:</p>
              <p>{{task.dueDate | date }}</p>
            </div>
          </div>
          <div class="tasks--board-category-list-task-description">{{ task.description }}</div>
          <div class="tasks--board-category-list-task-edit">
            <button mat-icon-button color="warn" (click)="deleteTaskDone(task)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="primary"><mat-icon>check_circle</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
