/* You can add global styles to this file, and also import other style files */

@import url('assets/css/common.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to right top, #000000, #110f10, #1a1a1b, #232325, #2b2d30);
  min-height: 100vh;
}
